version: '3.5'
services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
      - "9229:9229"
    environment:
      HOST: "0.0.0.0"
      PORT: "4000"
    volumes: 
      - ./src:/app/src
    command: npm run dev